h1 {

}

body {
    margin: 0%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 18px;
}

img {
    float: right;
}

.wrapper {
    width: 900px;
    margin-left: 25%;
}

.bleu {
    color:blue;
}